html, body {
  min-height: 100vh;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b30000; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: red; 
}